<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!--Эта секция добавляется вручную-->
  <system.serviceModel>
    <services>
      <!--Имя сервиса-->
      <!--Добавил в сервис Summator реализацию так же ISubtraction-->
      <service name="Summator.Summator" behaviorConfiguration="mexBehavor">
        <!--Точки входа-->
        <endpoint address="Summator" binding="basicHttpBinding" contract="Summator.ISummatorOld"></endpoint>
        <endpoint address="Summator" binding="netTcpContextBinding" contract="Summator.ISummatorOld"></endpoint>
        <!--Добавляем эндпоинты для второго сервис контракта-->
        <endpoint address="Summator" binding="basicHttpBinding" contract="Summator.ISubtraction"></endpoint>
        <endpoint address="Summator" binding="netTcpContextBinding" contract="Summator.ISubtraction"></endpoint>
        <!--Точка входа для обмена мета данными, используется для подключения клиентов через сутдию что бы не вбивать конфиг вручную -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <!--Адреса для точек входа-->
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
            <add baseAddress="net.tcp://localhost:49617/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <!--Поведение сервера-->
    <behaviors>
      <serviceBehaviors>
        <!--Разрешение на обмен метаданными через http протокол через метод гет-->
        <behavior name="mexBehavor">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>