<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="filecar" value="C:\Users\alexk\Documents\Visual Studio 2015\Projects\GitProject\Home\WCF Service\CarHost\Car.xml"/>
  </appSettings>
  <!--Эта секция добавляется вручную-->
  <system.serviceModel>
    <services>
      <!--Имя сервиса-->
      <service name="CarService.CarService" behaviorConfiguration="mexBehavor">
        <!--Точки входа-->
        <endpoint address="CarService" binding="basicHttpBinding" contract="CarService.ICarService"></endpoint>
        <!--Точка входа для обмена мета данными, используется для подключения клиентов через сутдию что бы не вбивать конфиг вручную -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <!--Адреса для точек входа-->
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <!--Поведение сервера-->
    <behaviors>
      <serviceBehaviors>
        <!--Разрешение на обмен метаданными через http протокол через метод гет-->
        <behavior name="mexBehavor">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>